<head><link rel="stylesheet" ng-href="styles/bootstrap-{{css}}.css"></head>
<div>
  Profile Information

  <form class="form-horizontal" ng-submit="addDataProfile()">
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>

      <div class="col-sm-10">
        <p class="form-control-static">{{author}}</p>
      </div>
    </div>

    <div class="form-group">
      <img src="images/frog.jpg" style="width: 60px"/>
    </div>

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="profiles.name" id="name" placeholder={{name}}>
      </div>
    </div>

    <div class="form-group">
      <label for="location" class="col-sm-2 control-label">Location</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="profiles.location" id="location" placeholder={{location}}>
      </div>
    </div>

    <div class="form-group">
      <label for="website" class="col-sm-2 control-label">Website</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="profiles.website" id="website" placeholder="website">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-sm btn-primary" value="Save"/>
      </div>
    </div>
  </form>
  <br/>
  <div class="theme">
    <ul>
      <li>choose theme
        <select ng-model="css" ng-options="bootstrap.url  as bootstrap.name for bootstrap in bootstraps"></select>
      </li>
    </ul>
  </div>
  <br/>

  <div ng-include="'views/image.html'"></div>

</div>
