<div class="header" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default" role="navigation">

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav pull-right">

          <li class="active"><a ui-sref="home">Home</a></li>
          <li class="active"><a ui-sref="chat">Chat</a></li>
          <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>

          <li ng-hide="isAuthenticated()" ui-sref-active="active">
            <a ui-sref="login">Login</a>
          </li>

          <li ng-show="isAuthenticated()" ui-sref-active="active">
            <a ui-sref="logout">Logout
            </a>
          </li>

        </ul>

      </div>
    </div>

</div>
